@charset "UTF-8";
/*-----------------------------鍏ㄥ眬鏍峰紡-------------------------------------*/
/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; -webkit-tap-highlight-color: transparent; }

* { margin: 0; padding: 0; -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, span { display: block; }

a { text-decoration: none; }

ul, li { list-style: none; padding: 0; margin: 0; }

.left { float: left; }

.right { float: right; }

em, cite, i { font-style: normal; }

input, button, textarea { outline: none; border: 0; vertical-align: middle; border: 0; font-family: Arial; }

input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; border-radius: 0; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

textarea { resize: none; }

html { width: 640px; height: 100%; overflow: hidden; -webkit-text-size-adjust: none; overflow: hidden; }

body { width: 640px; height: 100%; overflow: hidden; font-family: 'Microsoft yahei','adelle-sans',sans-serif; }

body a { color: #000; text-decoration: none; cursor: pointer; }

body a:hover, body a:active, body a:focus { text-decoration: none; outline: none; }

/*-----------------------------妗嗘灦-------------------------------------*/
.swiper-container { overflow: hidden; width: 640px; height: 100%; position: absolute; left: 0; top: 0; right: 0; margin: auto; z-index: 100; }

.swiper-wrapper { height: 100%; overflow: hidden; }

.swiper-slide { width: 100%; height: 100%; overflow: hidden; position: relative; }

.pagination, .pagination2, .pagination3, .pagination4 { position: absolute; left: 0; text-align: center; bottom: 130px; width: 100%; height: 20px; }

.swiper-pagination-switch { display: inline-block; width: 20px; height: 20px; border-radius: 20px; background: rgba(255, 255, 255, 0); margin: 0 20px; cursor: pointer; border: 1px solid #fff; }

.swiper-active-switch { background: #fff; }

.page { width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; }

.stage { width: 100%; height: 100%; background: #fee497; }

.bg { width: 100%; }

img { display: block; width: 100%; }

.bg img { height: 100%; }

.animate { opacity: 0; }

.hidden { visibility: hidden; }

.out { -webkit-transition: all 0.5s 0.5s ease-in-out; -webkit-transform: translateY(-100%); opacity: 0; }

.mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 90; display: none; }

.hide { -webkit-transform: translateY(-100%); }

/*-----------------------------music---------------------------------------*/
.f-hide { display: none !important; }

.music_wrap { position: absolute; top: 7px; right: 75px; z-index: 100; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.music_wrap .audio-main { position: relative; width: 100%; height: auto; overflow: hidden; }
.music_wrap audio { opacity: 0; }
.music_wrap .btn_music { display: inline-block; width: 44px; height: 44px; background: url(../images/music.png) no-repeat; background-size: 100% 100%; background-position: 0 0; -webkit-transform-origin: center center; }
.music_wrap .btn_music.on { -webkit-animation: reverseRotataZ 1.5s linear infinite; }
.music_wrap #controlText { display: inline-block; height: 44px; line-height: 44px; position: absolute; right: 50px; top: 0px; color: #fff; text-shadow: 0 1px 0 #ccc; font-size: 20px; display: none; }

.wyshare { display: none; position: absolute; top: 20px; right: 23px; z-index: 100; width: 100px; height: 58px; background: url(../images/wyshare.jpg) no-repeat; background-size: 100% 100%; border-radius: 10px; overflow: hidden; }

@-webkit-keyframes reverseRotataZ { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); } }
/*-----------------------------loading-------------------------------------*/
.loading { background: #000; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 999; }
.loading .w-loading { position: absolute; top: 50%; margin-top: -51px; width: 100%; height: 36px; background: url(../images/loading-w.png) no-repeat center; background-size: 178px; }
.loading .loading-i { background: url("../images/22.png") no-repeat; -webkit-background-size: 190px 46px; display: inline-block; height: 46px; width: 190px; position: absolute; top: 50%; left: 50%; margin-top: -3px; margin-left: -95px; }
.loading .loading-i-em { background: url("../images/11.png") no-repeat; -webkit-background-size: 190px 46px; display: block; height: 46px; width: 190px; position: absolute; top: 0; left: 0; -webkit-animation: loading-em 5s infinite ease-in-out; }

@-webkit-keyframes loading-em { 0% { width: 0; }
    100% { width: 190px; } }
/*---------------------------------stage1----------------------------------------*/
#stage1 { position: relative; background: #fee497 url(../images/1-bg1.jpg) no-repeat; background-size: 100% auto; }
#stage1 img { z-index: 1; }
#stage1 .img2 { position: absolute; bottom: 0px; left: 0; z-index: 2; }

#stage2 { background: #fee497 /*&.on img.s2-m1{opacity: 1;-webkit-transform:translateY(0);-webkit-transition:all 0.5s 0.2s;}
&.on img.s2-m2{opacity: 1;-webkit-transform:translateX(0);-webkit-transition:all 0.5s 0.6s;}
&.on img.s2-m3{opacity: 1;-webkit-transform:translateX(0);-webkit-transition:all 0.5s 1s;}
&.on img.s2-m4{opacity: 1;-webkit-transform:translateY(0);-webkit-transition:all 0.5s 1.4s;}
&.on .s2-con{opacity: 1;-webkit-transform:translateY(0);-webkit-transition:all 0.5s 1.6s;}*/ }
#stage2 .s2-logo { position: absolute; top: 70px; right: 25px; width: 158px; height: 46px; }
#stage2 .s2-main { width: 100%; height: 620px; margin-top: 25px; position: relative; }
#stage2 .s2-main img { display: inline-block; opacity: 0; position: absolute; }
#stage2 .s2-main .s2-m1 { width: 132px; height: 268px; top: 0px; left: 50%; margin-left: -63px; -webkit-transform: translateY(-100%); }
#stage2 .s2-main .s2-m2 { width: 290px; height: 144px; top: 50%; margin-top: -78px; left: 0; -webkit-transform: translateX(-100%); }
#stage2 .s2-main .s2-m3 { width: 284px; padding: 1px 6px 1px 0px; height: 142px; top: 50%; margin-top: -75px; right: 0; -webkit-transform: translateX(100%); }
#stage2 .s2-main .s2-m4 { width: 142px; height: 282px; bottom: 0px; left: 50%; margin-left: -73px; -webkit-transform: translateY(100%); }
#stage2 .s2-con { width: 100%; padding: 0; margin: 0 auto; height: 220px; text-align: center; margin-top: 35px; opacity: 0; -webkit-transform: translateY(150%); }
#stage2 .s2-con img { width: 484px; height: 220px; display: inline-block; }

#stage3, #stage4, #resultPanel { background: url(../images/0-bg.jpg) no-repeat center; background-size: cover; position: relative; }

/*---------------------------------stage3----------------------------------------*/
#stage3 .s3-con1 { width: 100%; height: 424px; padding-top: 35px; background: url(../images/3-con1.png) no-repeat; }
#stage3 .s3-con2 { position: absolute; left: 0; bottom: 2px; width: 100%; height: auto; overflow: hidden; z-index: 2; }
#stage3 .s3-con2 a { display: inline-block; margin: 0 auto; width: 24.2%; vertical-align: middle; height: auto; overflow: hidden; text-align: center; }
#stage3 .s3-con2 a img:first-child { width: 118px; height: 118px; margin-bottom: 35px; }
#stage3 .s3-con2 a img { display: inline-block; width: 100%; vertical-align: middle; }

/*---------------------------------stage4----------------------------------------*/
#stage4 { display: none; width: 100%; height: 100%; }
#stage4 .s4-s3-item { display: none; width: 100%; height: 100%; position: relative; }
#stage4 .s4-s3-item .s4-ci1 { width: 100%; height: 262px; text-align: center; padding-top: 82px; }
#stage4 .s4-s3-item .s4-ci1 img { display: inline-block; width: 498px; height: 262px; }
#stage4 .s4-s3-item .begin-game { width: 100%; height: 66px; text-align: center; padding-top: 50px; }
#stage4 .s4-s3-item .begin-game a { display: inline-block; width: 200px; height: 66px; background: url(../images/go-play.png) no-repeat center; }
#stage4 .s4-s3-item .s4-ci2 { position: absolute; bottom: 0px; left: 0px; }
#stage4 .s4-s3-item .s4-ci2 img { display: inline-block; }
#stage4 .s4-s3-item.s4-item1 .s4-ci2 { bottom: 40px; }
#stage4 .s4-s3-item.s4-item2 .s4-ci2 { bottom: -60px; }
#stage4 .s4-s3-item.s4-item3 .s4-ci2 { bottom: -55px; left: 70px; }
#stage4 .s4-s3-item.s4-item4 .s4-ci2 { bottom: 65px; }

#stage4 { position: absolute; top: 0; z-index: 9; }

#container { width: 100%; position: relative; overflow: hidden; display: none; }

#gamepanel { width: 100%; margin: 0 auto; height: 100%; position: relative; overflow: hidden; }

#stage { background: #fee497 url(../images/bg.jpg) no-repeat; background-size: 100% auto; }

.score-wrap { width: 220px; height: 100px; position: absolute; left: 0px; top: 40px; }

.score-wrap #score { display: block; font-size: 48px; line-height: 48px; color: #fff; background: #0099cc; padding: 10px 34px 10px 44px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; }

.score-wrap .heart { position: absolute; bottom: 0; left: 0; display: -webkit-box; }

.score-wrap .heart span { display: block; width: 38px; height: 30px; background: url(../images/xin.png) no-repeat; background-size: 100% 100%; margin: 0 2px; }

img.on { -webkit-transform: translateY(20px); -webkit-transition: all 0.2s ease-in-out; }

/*---------------------------------resultPanel----------------------------------------*/
#resultPanel { position: absolute; display: none; top: 0; overflow: hidden; }
#resultPanel .s10-con1 { width: 100%; height: 418px; text-align: center; padding-top: 60px; }
#resultPanel .s10-con1 img { display: inline-block; width: auto; height: 418px; }
#resultPanel .s10-con1 span { background: url(../images/fen.png) no-repeat right center; padding-right: 34px; position: absolute; color: #fff; left: 380px; top: 110px; font-size: 40px; text-align: left; }
#resultPanel .form-data { position: relative; z-index: 2; width: 100%; height: auto; overflow: hidden; text-align: center; }
#resultPanel .form-data label { background: url(../images/10-mobile.png) no-repeat left center; margin-top: 20px; display: inline-block; width: 400px; padding-left: 85px; height: 53px; line-height: 53px; background-size: 78px; }
#resultPanel .form-data label input { background: #fff; border: none; height: 53px; width: 380px; font-size: 38px; }
#resultPanel .form-data label:first-child { background: url(../images/10-username.png) no-repeat left center; }
#resultPanel .form-data a { display: inline-block; margin-top: 40px; width: 200px; height: 66px; background: url(../images/10-submit.png) no-repeat center; }
#resultPanel .s10-b-img { position: absolute; bottom: -190px; left: 0px; z-index: 1; }
#resultPanel .shareDiv { position: absolute; top: 0; z-index: 2; width: 100%; height: 100%; background: url(../images/shareDiv.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.6); -webkit-transition: all 0.6s 0s ease-in-out; -webkit-transform: translate3d(0, -100%, 0); }
#resultPanel .shareDiv.on { -webkit-transform: translate3d(0, 0, 0); }
#resultPanel .wyShareDiv { position: absolute; top: 0; z-index: 2; width: 100%; height: 100%; background: url(../images/0-bg.jpg) no-repeat; background-size: cover; -webkit-transition: all 0.6s 0s ease-in-out; -webkit-transform: translate3d(0, -100%, 0); overflow: hidden; }
#resultPanel .wyShareDiv .bg { width: 640px; height: 716px; background: url(../images/wy2.png) no-repeat; background-size: 100% 100%; position: absolute; top: 0; left: 0; }
#resultPanel .wyShareDiv .wyShare { width: 200px; height: 65px; background: url(../images/shareBtn.png) no-repeat; background-size: 100% 100%; position: absolute; top: 470px; left: 50%; margin-left: -100px; }
#resultPanel .wyShareDiv .wyfood { width: 640px; height: 334px; background: url(../images/wy1.png) no-repeat; background-size: 100% 100%; position: absolute; top: 716px; left: 0; }
#resultPanel .wyShareDiv.on { -webkit-transform: translate3d(0, 0, 0); }

.bottom-submit { width: 100%; height: 80px; text-align: center; }
.bottom-submit a { display: inline-block; width: 242px; height: 80px; }

#stage11 .s11-title { width: 100%; height: 195px; background: url(../images/11-title.png) no-repeat bottom right; }
#stage11 .s11-main { width: 100%; height: auto; overflow: hidden; text-align: left; padding-top: 20px; }
#stage11 .s11-main p { width: 100%; height: 55px; line-height: 55px; border-bottom: 1.5px dashed #000; }
#stage11 .s11-main p span { font-size: 30px; color: #000000; display: inline-block; text-align: left; }
#stage11 .s11-main p .uso { text-align: right; width: 145px; }
#stage11 .s11-main p .uname { padding-left: 60px; }
#stage11 .s11-main p .ugd { float: right; width: 220px; }
#stage11 .s11-submit { padding-top: 50px; }
#stage11 .s11-submit a { background: url(../images/11-submit.png) no-repeat center; }

#stage12 .s12-t-bg { position: absolute; top: 0px; right: 0px; width: 100%; height: 295px; background: url(../images/12-t-bg.png) no-repeat top center; }
#stage12 .s12-title { width: 100%; height: 84px; padding-top: 300px; background: url(../images/12-title.png) no-repeat bottom center; }
#stage12 .s12-con { width: 100%; height: auto; text-align: center; overflow: hidden; padding-top: 15px; }
#stage12 .s12-con span { display: inline-block; color: #000000; font-size: 70px; line-height: 70px; font-weight: bold; padding: 0px 63px 0px 55px; background: url(../images/12-di.png) no-repeat left center, url(../images/12-wei.png) no-repeat right center; }
#stage12 .s12-submit { padding-top: 30px; }
#stage12 .s12-submit #playAgain { background: url(../images/12-submit.png) no-repeat center; margin-right: 20px; }
#stage12 .s12-submit #learmore { background: url(../images/more.png) no-repeat center; }
#stage12 .s12-b-bg { position: absolute; bottom: -195px; left: 0px; width: 100%; height: 566px; background: url(../images/12-b-bg.png) no-repeat bottom center; }

/*---------------------------------arrow----------------------------------------*/
.arrow { width: 52px; height: 72px; position: fixed; left: 50%; margin-left: -13px; bottom: 50px; z-index: 999; background: url(../images/arrow2.png) no-repeat; background-size: cover; -webkit-animation: arrow 2s ease-in-out infinite; display: none; }

/*---------------------------------dialog----------------------------------------*/
.dialog { display: none; z-index: 99; width: 540px; height: 666px; background: #ddc278; border: 4px solid #800000; position: absolute; top: 50%; left: 50%; margin-left: -270px; margin-top: -333px; padding: 0 60px; box-sizing: border-box; }
.dialog .close { width: 50px; height: 50px; display: block; background: url(../images/close.jpg) no-repeat; background-size: 100% 100%; position: absolute; right: 0px; top: 0px; }
.dialog .title { width: 405px; margin: 0 auto; margin-top: 50px; }
.dialog .title2 { width: 414px; height: 85px; margin: 0 auto; margin-top: 50px; }
.dialog .detail { font-size: 22px; color: #800000; line-height: 40px; margin-top: 25px; }

/*----------------------------------animation-----------------------------------------*/
@-webkit-keyframes arrow { 0%,100% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateY(20px); } }
/*for iphone4 weixin*/
@media only screen and (max-height: 832px) { #stage3 .s3-con2 { bottom: -130px; }
    #stage4 .s4-s3-item { display: none; width: 100%; height: 100%; position: relative; }
    #stage4 .s4-s3-item.s4-item1 .s4-ci2 { bottom: -30px; }
    #stage4 .s4-s3-item.s4-item2 .s4-ci2 { bottom: -180px; }
    #stage4 .s4-s3-item.s4-item3 .s4-ci2 { bottom: -150px; }
    #stage4 .s4-s3-item.s4-item4 .s4-ci2 { bottom: -55px; } }
/*for iphone5 weixin*/
@media only screen and (max-height: 830px) { #stage3 .s3-con2 { bottom: auto; top: 480px; } }
@media only screen and (min-height: 1009px) { #resultPanel .wyShareDiv .wyfood { top: auto; bottom: 0; } }